.mybtn:disabled {
  opacity: 1;
}

.mybtn {
  height: 150px;
}

.myimg {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}

.playerInputs {
  display: flex;
  justify-content: space-around;
}
